.header {
  background: url("../../images/pexels-pixabay-262918.jpg") no-repeat center;
  height: 92vh;
  background-size: cover;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-weight: bold;
  padding: 15px 0;
}
